*{
    margin: 0;
    padding: 0;
}
.wrap
{
 position: absolute;
 top: 8%;
 left:5%;
 transform: translate(-50%, -50%);
}
.men
{
 width: 50px;
height: 10px;
background: #000;
margin: 6px 0;
}
body
{   
      width: 100%;
    background: linear-gradient(to top,rgba(65, 6, 154, 0)50%,rgba(62, 6, 173, 0)50%);
   background-color:rgb(169, 169, 6);
    background-size: cover;
    height: 100vh;
} 

.navbar
{
  width: 1200x;
  height: 75px;
  margin:auto;
}

.icon
{
    width: 200px;
    float: left;
    height: 70px;
} 
.logo
{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.manu
{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content:center;
    align-items: center;
}
ul li
{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color:#fff;
} 
.search
{
    width: 300px;
    float: right;
    margin-left: 300px;
}
.search
{
 font-family: 'Times new Roman';
width: 250px;
height: 40px;
background: transparent;
border: 1px solid #ff7200;
margin-top: 13px;
color: #fff;
border-right: none;
font-size: 16px;
float: left;
padding: 10px;
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;
}
.btn
{
    width: 20%;
    height: 30px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus
{
    outline: none;
}
.srch:focus
{
    outline: none;

}
.content
{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}
.content.par
{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;

}
.content h1
{
  font-family: 'Times New Roman';
  font-size: 50px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}
.content .cn 
{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}
.content .cn a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: .3s ease;
}
 .cn:hover
 {
    background-color: #fff;
 }
 .content span{
    color: #ff7200;
    font-size: 65px;
 }
 .form
 {
     width: 250px;
     height: 380px;
     background: linear-gradient(to top, rgba(109, 149, 7, 0.8)50%,rgba(97, 153, 6, 0.8)50%);
     position: absolute;
     top: -20px;
     left: 870px;
     border-radius: 10%;
 }
 
 .form h2
 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;

 }
.form input
 {
    width: 240px;
    height: 35px;
    background: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif; 
}
.form input:focus
{
    outline: none;
}
::placeholder
{
    color: #fff;
    font-family: Arial;
}
.btnn
{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btn:hover
{
    background: #fff;
    color: #ff7200;
}
.btnn a
{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link
{
    text-decoration: none;
    color: #ff7200;
}
.liw
{
    padding-top: 15px;
    padding-bottom:10px;
    text-align: center;
}
